* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f6f6f6;
}

/* background wrapper */
.fan-wrapper {
    background: #b0b0b0;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* fan container */
.fan-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* fan head(circle) */
.fan-head {
    width: 150px;
    height: 150px;
    border: 4px solid black;
    border-radius: 50%;
    position: relative;
    background: #fff;
    overflow: hidden;
    /* keep blades inside */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* blades wrapper */
.blades {
    width: 100%;
    height: 100%;
    position: relative;
    animation: spin 0.2s linear infinite;
    /* spinning blades */
}

/* Fan Blade */
.blade {
    position: absolute;
    width: 10px;
    height: 60px;
    background: #999;
    border-radius: 10px;
    top: 15px;
    left: 65px;
    transform-origin: bottom center;
}

.blade1 {
    transform: rotate(0deg);
}

.blade2 {
    transform: rotate(120deg);
}

.blade3 {
    transform: rotate(240deg);
}

/* stand */
.stand {
    width: 14px;
    border-radius: 6px;
}

.white {
    height: 90px;
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 5px;
}

.blue {
    height: 100px;
    width: 30px;
    background: #1e90ff;
    margin-top: 2px;
}

/* base */
.base {
    width: 100px;
    height: 50px;
    background: #222;
    margin-top: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* button */
.btn {
    padding: 6px 14px;
    background: #1e90ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}


/* Animation for fan spinning */
@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg)
    }
}